# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log*

# Build output
main.js
dist/
dist-daemon/
.esbuild/
.tmp/
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Obsidian
.obsidian/workspace.json
.obsidian/cache/

# Logs
*.log

# Env files
.env
.env.local
